@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');




body{
    background: #FFFAF5;
}

.fixedNav {
    padding: 16px;  
    height: 83px;
    background: #FFFAF5;
}

.logoBlock {
    display: flex;
}

.logoL {
    width: 34px;
    height: 45px;
}

.logoBlockVandText {
    display: flex;
    flex-direction: column;
}

.blockWithTextL {
    margin-left: 4px;
    font-family: 'Comfortaa';
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0.155em;
    color: #4A4A4A;
    opacity: 0.9;
}

.logoV {   
    margin-top: 2px;
    margin-left: -5px;
    width: 23px;
    height: 29px;
}

.blockWithTextV {
    margin-top: -15px;
    margin-left: 15px; 
    font-family: Comfortaa;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.155em;
    color: #BEBEBE;
}

.navBurger {    
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
    background: #111;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: content-box;
    width: 35px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.navBurger:before, .navBurger:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navBurger:before {
    top: -10px;
}

.navBurger:after {
    bottom: -10px;
}

.navBurger.active {
    top: 10px;
    right: 30px;
    position: fixed;
    background: transparent;
    background-clip: content-box;
}

.navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
}

.navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
}

.overlay {
    position: fixed;
    background: #4A4A4A;
    top: 0;
    right: 0;
    -webkit-transform-origin: right top;
          transform-origin: right top;
    -webkit-transform: scale(0);
          transform: scale(0);
    visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
          transform: scale(1);
}

.overlay.open li {
    display: block;
    -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    -webkit-animation-delay: .4s;
          animation-delay: .4s;
    -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
    -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.overlayMenu ul li a {
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

.phoneBlock {
    display: inline-block;
    margin-top: 83px;
    margin-left: 26px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.locationBlock {
    padding: 15px 0;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #E7E7E7;
}

.locationBlockOverlay {
    padding: 15px 26px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #E7E7E7;
}

.navMenu {
    margin-top: 30px;
    display: flex;
}

.navMenu a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}  

.locationText {
    color: #BEBEBE;
}     
                                                                                    
.provideChernivtsi { 
    margin-top: 22px;
    margin-bottom: 18px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #4A4A4A;
}

.colorLetter {
    color: #FFCA0F;
}

.contentText {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin-top: 1px;
    margin-bottom: 10px; 
    line-height: 2.01;
    font-weight: 400;
}

.quickConsultation1 {
    border-width: 3px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 56px;
    margin: 16px 16px;
    background-color: #FFFFFF;	 
    background:transparent !important;
}

.quickConsultationText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.02em;
}

.quickConsultationText2 {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 13px 10px;
}

.phone_icon {
    margin-top: -40px;
    margin-left: 150px;
}

.quickConsultationText1 {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.02em;
    margin: 13px 10px;
    color: #4A4A4A;
}

.phone_icon_1 {
    margin-top: -70px;
    margin-left: 200px;
}

.quickConsultation2 {
    border-width: 3px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    margin: 15px 0;
    background-color: #FFFFFF;	 
    background:transparent !important;
}

.quickConsultation3 {
    border-width: 3px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    margin: 16px 0px;	 
    background:transparent !important;
}

.headlines {
    margin-top: 44px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #4A4A4a;
}

.thatsWhyWeText {        
    margin-top: 8px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.textTruck {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 250px;
}

.thatsWhyWeImg {
    margin-top: 2.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.percent {
    background-image: url(../img/percent320.png);
    width: 34px;
}

.assortment {
    background-image: url(../img/assortment320.png);
    width: 34px;
}

.truck {
    background-image: url(../img/truck320.png);
    width: 52px;
    height: 34px;
}

.catalogBlock {
    width: 100%;
    height: 100%;
    margin-top: 10px; 
}

.catalogBlock img{
    display: block;
    width: 100%;
    max-height: 245px;
}

.catalogLines {
    border: 1px solid grey;
    padding-left: 8px;
}

.catalogText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.catalogPrices {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}

.lineThrough {
    color: #4A4A4A;
    text-decoration: line-through;
}

.showAllBlock{
    margin: 0 auto;
    margin-top: 16px;
    width: 130px;
    height: 26px;
    background: #FFF0C7;
}

.showAll {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
    opacity: 0.8;
}

input[type="checkbox"], .fulltext {
  display: none;
}

input:checked + div {
  display: block;
}

label {
    cursor: pointer;
}

.catalogPricesSale {
    margin-left: 32px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #FFCA0F;
}

.allAtTheAddressBlock {
    width: 100%;
    height: 148px;
    background: #777777;
}

.allAtTheAddress {
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 18px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #FFFFFF;
}

.additionAddress {
    margin-top: 4px;
    margin-left: 18px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.markImg {
    margin-left: 18px;
}

.SaleBlock {
    margin-top: 25px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.SaleBlockGreyColour {
    color: #777777;
}

.brandyLogo {
    margin-top: 2.25rem;
}

.swissKrono {
    background-image: url(../img/1brands320.png);
    width: 132px;
    height: 31px;
}

.kronotex {
    background-image: url(../img/2brands320.png);
    width: 131px;
    height: 35px;
}

.e_and_rectangle{
    background-image: url(../img/3brands320.png);
    width: 132px;
    height: 39px;
}

.myFloor{
    background-image: url(../img/4brands320.png);
    width: 132px;
    height: 32px;
}

.reviews {
    margin-top: 28px;
}

.contactsBlock {
    margin-top: 15px;
    margin-bottom: 13px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #4A4A4A;
    opacity: 0.9;
}

.viber{
    background-image: url(../img/viber320.png);
    width: 27px;
    height: 29px;
}

.insta {
    margin-left: 11px;
    background-image: url(../img/insta320.png);
    width: 27px;
    height: 28px;
}

.openingHours {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.line {
    margin-top: 8px;
    margin-bottom: 30px;
    width: 100%;
    border-top:1px solid black;
}

.mapsText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

iframe {
    margin-top: 8px;
}

.warehouse {
    margin-left: 10px;
    margin-top: 8px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}


.linkNavigationFooter {
    text-decoration: none;
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
    color: #FFFFFF;
}

.linkNavigationFooter:hover {
    color: #F9B247;
}

.textFooter1 {
    margin-top: 33px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.013em;
    color: #F9B247;
}

.textFooter2 {
    margin-top: 6px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.contactsBlockFooter {
    margin-top: 13px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.013em;
    color: #FFFFFF;
}

.instaFooter {
    margin-left: 16px;
}

.mail {
    margin-top: 15px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFCA0F;
}

.imgFooter {
    margin-top: 10px;
}











/*увелечение фото*/


.popup-checkbox, .popup {
    display: none;
}

.popup {                                /*фиксирование на промежутке*/                 
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.popup:before {                        /*background*/
    display: block;
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}

.popup-content {                       /*сам екран*/
    width: 100%;
    height: 403px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #4A4A4A;
    border: 2px solid #FFFFFF;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popup-closer {                                       /*кнопка закритые*/
    position: absolute;
    top: 8px;
    right: 8px;
    color: #999;
    font-size: 30px;
    border: 1px solid #999;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup-checkbox:checked + .popup {                  /*когда нажал*/             
    opacity: 1; 
    display: block;
}

.callYouBack {
    margin-top: 30px;
    margin-left: -20px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 10px;
    letter-spacing: 0.013em;
    color: #FFFFFF;
}

.popup-content input {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid 1px #ffffff;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.name {
    margin-top: 46px;
}

.quickConsultation {
    border-width: 3px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 25px;
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;	 
    background:transparent !important;
}

.confirmText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.013em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textUnderButton {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.popupCheckboxOne {
    display: block;
    width: 100%;
    height: 100%;
}








@media (min-width: 320px) {
.mother_with_child{
    background-image: url("../img/mother_with_child320.png");
    width: 100%;
    max-width: 320px; 
    height: 215px;
}
footer {
    position: relative;
    margin-top: 47px;
    background: url("../img/footer320.png") no-repeat center/cover;
}
}




@media (min-width: 768px) { 
.containerFixed{
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.provideChernivtsi {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.07em;
}
.contentText{
    margin-top: 36px;
    margin-bottom: 22px;
    font-size: 22px;
    letter-spacing: 0.013em;
}
.mother_with_child{
    background-image: url("../img/mother_with_child768.png");
    max-width: 768px;
    height: 486px;
    width: 100%;
}
.quickConsultation1{
    margin-top: 32px;
    width: 309px;
    height: 68px;
}
.quickConsultationText1{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.quickConsultation3{
    padding: 0 10px;
}
.quickConsultationText2{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.phone_icon_1{
    margin-left: 220px;
    margin-top: -80px;
}
.quickConsultation2{
    width: 309px;
    height: 68px;
}   
.contentTextH3 {
    line-height: 1.6;
}  
.spaceAndText {
    line-height: 2.6;
}
.headlines{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.07em;
}   
.thatsWhyWeText{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.013em;
}   
.thatsWhyWeImg{
    margin-top: 62px;
}
.percent {
    background-image: url(../img/percent768.png);
    width: 50px;
}
.assortment {
    background-image: url(../img/assortment768.png);
    width: 50px;
}
.truck {
    background-image: url(../img/truck768.png);
    width: 76px;
    height: 50px;
}
.catalogText{
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.catalogPrices{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.catalogBlock{
    margin-top: 20px;
    width: 355px;
    height: 324px;
}   
.catalogBlock img{
    width: 355px;
    height: 245px;
}
.showAllBlock{
    width: 188px;
    height: 41px;
}
.showAll{
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.allAtTheAddressBlock{
    padding: 0px 20px;
    width: 355px;
    height: 324px;
} 
.allAtTheAddress{
    padding: 70px 0px;
    font-size: 25px;
}
.markImg{
    margin-top: -115px;
    width: 25px;
}
.additionAddress{
    margin-top: -40px;
    font-size: 15px;
    line-height: 1.5;
}
.SaleBlock{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.013em;
}   
.swissKrono{
    background-image: url(../img/1brands768.png);
    width: 157px;
    height: 38px;
}
.kronotex{
    background-image: url(../img/2brands768.png);
    width: 156px;
    height: 42px;
}
.e_and_rectangle{
    margin-top: -10px;
    background-image: url(../img/3brands768.png);
    width: 156px;
    height: 47px;
}
.myFloor{
    background-image: url(../img/4brands768.png);
    width: 156px;
    height: 36px;
}
.reviews{
    width: 355px;
    height: 631px;
}
.contactsBlock{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.07em;
}   
.viber{
    background-image: url(../img/viber768.png);
    width: 50px;
    height: 54px;
}
.insta{
    background-image: url(../img/insta768.png);
    width: 50px;
    height: 51px;
}
.openingHours{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.013em;
}
.mapsText{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.013em;
}
.warehouse{
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.013em;
}
footer{
    background-image: url(../img/footer768.png) no-repeat center/cover;
    max-height: 317px;
}
.linkNavigationFooter{
    line-height: 29px;
}
.textFooter1{
    margin-top: 13px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
}
.textFooter2{
    position: absolute;
    top: 45px;
    right: 20px;
    text-align: right;
}
.contactsBlockFooter{
    margin-top: 20px; 
    font-size: 25px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.013em;
}
.quickConsultation3{
    margin-top: -60px;
    width: 307px;
}
.mail{
    margin-top: 80px;
    text-align: right;
}
.imgFooter{
    position: absolute;
    top: 155px;
    margin-left: 445px;
}
.locationBlock{ 
    padding: 15px 0px;
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.mail{
    margin-top: 55px;
}
.popup-content {
    width: 65%;
}
.popup:before {                        /*background*/
    display: block;
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4A4A4A;
    opacity: 9;
}
.popup-content input{
    display: block;
    margin-left: 95px;
    margin-bottom: 40px;
    width: 56%;

}
.quickConsultation{
    margin-left: 95px;
    width: 255px;
}
.textUnderButton{
    margin-left: 95px;
    width: 255px;
    font-size: 16px;
    line-height: 20px;
}
}





@media (min-width: 1024px){
.containerFixed{
    max-width: 100%;
    padding-right: 15%;
    padding-left: 15%;
}
}





@media (min-width: 1199.98px) {
.containerFixed{
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
.provideChernivtsi{
    margin-top: 40px;
    font-size: 59px;
    line-height: 70px;
    letter-spacing: 0.02em;
}
.mother_with_child{
    background-image: url("../img/mother_with_child1280.png");
    position: absolute;
    top: 105px;
    right: 0px;
    width: 772px;
    min-height: 509px;
    z-index: -2;
}
.GoToTheDirectory {
    margin-top: 42px;
    padding: 10px;
    width: 235px;
    height: 45px;
    background: #FFF0C7;
}
.GoToTheDirectoryText {
    font-family: Montserrat;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.013em;
    color: #4A4A4A;
    opacity: 0.8;
}
.GoToTheDirectoryText:hover{
    color: #FFCA0F;
}
.contentText{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.013em;
}
.quickConsultationText1{
    line-height: 25px;
    letter-spacing: 0.013em;
}
.headlines{
    margin-top: 80px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.07em;
}
.thatsWhyWeText{
    margin-top: 21px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.013em;
}
.headlinesOne{
    margin-top: 80px;
    margin-bottom: 34px;
}
.thatsWhyWeBlock1{
    margin-left: -40px;
}
.thatsWhyWeBlock2{
    margin-left: 75px;
}   
.thatsWhyWeBlock3{
    margin-left: 100px;
    width: 275px;
}
.catalogText{
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.catalogBlock{
    margin-top: 34px;
    width: 289px;
    height: 305px;
} 
.catalogBlock img{
    width: 289px;
    height: 305px;
}
.catalogPrices{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
 .allAtTheAddressBlock{
    margin-top: 35px;
    width: 289px;
    height: 320px;  
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.showAllBlock{
    margin-top: 40px;
    width: 239px;
    height: 46px;
}
.showAll{
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
} 
.SaleBlock{
    margin-top: 41px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.013em;
}
.brandyLogo{
    margin-top: 5rem;
}
.swissKrono{
    background-image: url(../img/1brands1280.png);
    width: 230px;
    height: 56px;
}
.kronotex{
    background-image: url(../img/2brands1280.png);
    margin-left: 20px;
    width: 189px;
    height: 52px;
}
.e_and_rectangle{
    background-image: url(../img/3brands1280.png);
    margin-left: 65px;
    width: 190px;
    height: 56px;
}
.myFloor{
    background-image: url(../img/4brands1280.png);
    margin-left: 90px;
    width: 190px;
    height: 44px;
}
.reviews{
    margin-top: 50px;
    width: 289px;
    height: 514px; 
}
.headlines{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.07em;
}
.contactsBlock{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.07em;
}
.openingHours{
    margin-top: 60px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.013em;
}  
.viber{
    margin-left: 330px;
    margin-top: 25px;
}
.insta{
    margin-left: 400px;
    margin-top: -80px; 
}
.quickConsultation2{
    margin-left: 80px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.mapsText{
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
}
.warehouse{
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    margin-bottom: 83px;
}  
footer{
    background: url("../img/footer1280.png");
    min-height: 247px;
}
.linkNavigationFooter{
    margin-top: 16px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.linkNavigationFooterFirst{
    margin-top: 35px;
}
.textFooter1{
    margin-top: 29px;
    font-size: 25px;
    line-height: 32px;
}   
.textFooter2{
    top: 30px;
    left: 1100px;
    width: 164px;
    margin-top: 5px;
    font-size: 17px;
    line-height: 20px;
}
.contactsBlockFooter{
    margin-top: 20px;
    font-size: 25px;
    line-height: 32px;
}
.imgFooter{
    margin-top: -5px;
    margin-left: 815px;
}
.mail{
    margin-top: 63px;
}
.locationBlock{
    margin-top: -60px;
    margin-left: 310px;
    font-size: 17px;
    line-height: 20px;
}
.popup-content {
    width: 50%;
}
.callYouBack{
    margin-left: 20px;
}
.popup-content input{
    margin-left: 135px;
}
.quickConsultation{
    margin-left: 180px;
}
.textUnderButton{
    margin-top: 30px;
    margin-left: 60px;
    width: 500px;
    font-size: 17px;
}
}





@media (min-width: 1440px){
.containerFixed{
    max-width: 100%;
    padding-right: 0%;
    padding-left: 12.5%;
}
.mother_with_child{
    right: 1%;
}
}







@media (min-width: 1800px) {
.containerFixed{
    max-width: 100%;
    padding-right: 15%;
    padding-left: 15%;
}
.provideChernivtsi {
    margin-top: 75px;
    font-size: 59px;
    line-height: 70px;
    letter-spacing: 0.07em;
    z-index: 1;
}   
.contentText{
    margin-top: 36px;
    margin-bottom: 22px;
    font-size: 20px;
    letter-spacing: 0.013em;
    line-height: 50px;
}  
.contentTextH3 {
    line-height: 30px;
}   
.mother_with_child{
    margin-top: 35px;
    background: url("../img/mother_with_child1920.png");
    right: 15%;
    min-width: 800px;
    min-height: 579px;
    z-index: -2;
}
.headlines{
    margin-top: 128px;
    margin-bottom: 50px;
    font-size: 59px;
    line-height: 70px;
    letter-spacing: 0.07em;
}
.headlinesOne{
    margin-top: 275px;
}
.thatsWhyWeText{
    margin-top: 14px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.013em;
}
.catalogBlock{
    margin-top: 14px;
    width: 309px;
    height: 327px;
    margin-bottom: 30px;
} 
.catalogBlock img{
    width: 309px;
    height: 245px;
}
.percent {
    background-image: url(../img/percent1920.png);
    width: 60px;
}
.assortment {
    background-image: url(../img/assortment1920.png);
    width: 60px;
}
.truck {
    background-image: url(../img/truck1920.png);
    width: 90px;
    height: 60px;
}
.catalogText{
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.catalogPrice{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.showAllBlock{
    padding: 7px 5px;
    margin-top: 40px;
    width: 236px;
    height: 55px;
}
.showAll{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.SaleBlock{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.013em; 
}
.swissKrono{
    background-image: url(../img/1brands1920.png);
    width: 250px;
    height: 60px;
}
.kronotex{
    background-image: url(../img/2brands1920.png);
    width: 207px;
    height: 56px;
}
.e_and_rectangle{
    background-image: url(../img/3brands1920.png);
    width: 207px;
    height: 60px;
}
.myFloor{
    background-image: url(../img/4brands1920.png);
    width: 208px;
    height: 48px;
}
.reviews{
    width: 309px;
    height: 550px; 
}
.contactsBlock{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.07em;
}
.openingHours{
    margin-top: 60px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.013em;
}
.viber{
    margin-left: 350px;
    margin-top: 25px;
}
.insta{
    margin-left: 450px;
    margin-top: -80px; 
}
.buttonMargin {
    margin-top:-20px;
}
.quickConsultation2{
    margin-left: 120px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}
.mapsText{
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
}
.warehouse{
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
}
footer{
    background: url("../img/footer1920.png");
    min-height: 333px;
}
.linkNavigationFooterFirst{
    margin-top: 45px;
}
.linkNavigationFooter {
    line-height: 1.1;
}
.locationBlock{
    margin-top: -60px;
    margin-left: 0px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
}
.textFooter1{
    margin-left: 25px;
    margin-top: 45px;
    font-size: 25px;
    line-height: 32px;
}
.textFooter2{
    top: 82px;
    left: 1335px;
    width: 309px;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.02em;
}
.callYouBack{
    font-size: 18px;
    line-height: 25px;
}
.contactsBlockFooter{
    margin-top: 70px;
    font-size: 25px;
    line-height: 42px;
}
.imgFooter{
    margin-top: 110px;
    margin-left: 565px;
}
.mail{
    margin-right: 110px; 
}
    
.popup-content {
    width: 50%;
    height: 467px;
}
.callYouBack{
    margin-left: -250px;
    font-size: 48px;
    line-height: 70px;
}
.popup-content input{
    width: 80%;
    margin-left: 80px;
    font-size: 20px;
    line-height: 30px;
}
.quickConsultation{
    margin-left: 80px;
    font-size: 18px;
    line-height: 25px;
}
.textUnderButton{
    margin-top: 25px;
    margin-left: 80px;
    width: 500px;
    font-size: 17px;
    line-height: 20px;
}
}






.fixedNavigation {
    position: fixed;
    right: 290px;
    top: 0px;
    display: flex;
    padding: 6px 9px;
    width: 397px;
    height: 26px;
    background: rgba(74, 74, 74, 0.88);
}

.markNavigation {
    background-image: url(../img/markNavigation.png); 
    background-repeat: no-repeat;
    width: 10px;
    height: 14px;
}

.textNavigation {
    margin-left: 4px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.phoneNavigation1 {
    margin-left: 37px;
    background-image: url(../img/phoneNavigation.png);
    width: 14px;
}



.phoneNavigation2 {
    margin-left: 11px;
    background-image: url(../img/phoneNavigation.png);
    width: 14px;
}





nav {
    margin-top: 16px;
}






















