@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');





body{
    background: #FFFAF5;
    height: 3000px;
}

nav {
    margin-top: 11px;
    margin-left: 10px;     
}

.logoBlock {
    display: flex;
}

.logoL {
    width: 34px;
    height: 45px;
}

.logoBlockVandText {
    display: flex;
    flex-direction: column;
}

.blockWithTextL {
    margin-left: 4px;
    font-family: 'Comfortaa';
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0.155em;
    color: #4A4A4A;
    opacity: 0.9;
}

.logoV {   
    margin-top: 2px;
    margin-left: -5px;
    width: 23px;
    height: 29px;
}

.blockWithTextV {
    margin-top: -15px;
    margin-left: 15px; 
    font-family: Comfortaa;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.155em;
    color: #BEBEBE;
}

.navBurger {                                                           
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
    background: #111;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: content-box;
    width: 35px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.navBurger:before, .navBurger:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navBurger:before {
    top: -10px;
}

.navBurger:after {
    bottom: -10px;
}

.navBurger.active {
    position: fixed;
    background: transparent;
    background-clip: content-box;
}

.navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
}

.navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%;
}

.overlay {
    position: fixed;
    background: #4A4A4A;
    top: 0;
    right: 0;
    width: 80%;
    height: auto;
    -webkit-transform-origin: right top;
          transform-origin: right top;
    -webkit-transform: scale(0);
          transform: scale(0);
    visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
          transform: scale(1);
}

.overlay.open li {
    display: block;
    -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    -webkit-animation-delay: .4s;
          animation-delay: .4s;
    -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
    -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.overlayMenu ul li a {
    margin-left: -20px;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-family: Montserrat;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

.phoneBlock {
    display: inline-block;
    margin-top: 83px;
    margin-left: 27px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.locationBlock {
    margin-top: 33px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #E7E7E7;
    margin-bottom: 20px;
}

.locationText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}     
                                                                                    
.provideChernivtsi {
    margin-top: 22px;
    margin-bottom: 18px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #4A4A4A;
}

.colorLetter {
    color: #FFCA0F;
}

.contentText {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.lineHeight {
    margin-top: 1px;
    margin-bottom: 10px; 
    line-height: 2.01;
}

.mother_with_child{
    width: 100%;
    height: 215px;
    object-fit: cover;
}

.quickConsultation1 {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 56px;
    margin: 16px 16px;
    background-color: #FFFFFF;	 
    background:transparent !important;
}

.quickConsultationText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.02em;
}

.quickConsultationText2 {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 14px 10px;
}

.phone_icon {
    margin-top: -40px;
    margin-left: 150px;
}

.quickConsultationText1 {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.02em;
    margin: 14px 10px;
    color: #4A4A4A;
}

.phone_icon_1 {
    margin-top: -70px;
    margin-left: 200px;
}

.quickConsultation2 {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    margin: 15px 0;
    background-color: #FFFFFF;	 
    background:transparent !important;
}

.quickConsultation3 {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    margin: 16px 0px;	 
    background:transparent !important;
}

.headlines {
    margin-top: 44px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #4A4A4a;
}

.thatsWhyWeText {        
    margin-top: 8px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.thatsWhyWeImg {
    margin-top: 2.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.catalogBlockFirst {
    width: 100%;
    height: 100%;
    margin-top: 10px; 
}

.catalogBlock {
    width: 100%;
    height: 100%;
    margin-top: 10px; 
}

.catalogBlockFirst img{
    display: block;
    width: 100%;
    max-height: 245px;
}

.catalogBlock img{
    display: block;
    width: 100%;
    max-height: 245px;
}

.catalogLines {
    border: 1px solid grey;
    padding-left: 8px;
}

.catalogText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.catalogPrices {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
}

.showAllBlock{
    margin: 0 auto;
    margin-top: 16px;
    width: 130px;
    height: 26px;
    background: #FFF0C7;
}

.showAll {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
    opacity: 0.8;
}

input[type="checkbox"], .fulltext {
  display: none;
}

input:checked + div {
  display: block;
}

label {
    cursor: pointer;
}

.catalogPricesSale {
    margin-left: 32px;
    text-decoration: line-through;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #FFCA0F;
}

.allAtTheAddressBlock {
    width: 100%;
    height: 148px;
    background: #777777;
}


.allAtTheAddress {
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 18px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #FFFFFF;
}

.additionAddress {
    margin-top: 4px;
    margin-left: 18px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.markImg {
    margin-left: 18px;
}

.SaleBlock {
    margin-top: 25px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.brandyLogo {
    margin-top: 2.25rem;
}

.logoSwissKrono {
    width: 20px;
    height: 19px;
}

.swissKrono {
    width: 107px;
    height: 12px;
}

.kronotex {
    width: 131px;
    height: 35px;
}

.e_and_rectanglePlusEgger {
    position: relative; 
}

.egger {
    position: absolute;
    top: 21px;
    left: 112px;
}

.reviews1 {
    margin-top: 28px;
}

.contactsBlock {
    margin-top: 15px;
    margin-bottom: 13px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.013em;
    color: #4A4A4A;
    opacity: 0.9;
}

.insta {
    margin-left: 11px;
}

.openingHours {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

.lines {
    margin-top: 8px;
    color: #4A4A4A;
}

.mapsText {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
}

iframe {
    margin-top: 8px;
}

.warehouse {
    margin-left: 10px;
    margin-top: 8px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}
footer {
    margin-top: 47px;
    background: url("../img/footer.png");
    height: 100%;
    max-height: 570px;
    width: 100%;
}

.linkNavigationFooter {
    text-decoration: none;
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
    color: #FFFFFF;
}

.linkNavigationFooter:hover {
    color: #F9B247;
}

.textFooter1 {
    margin-top: 33px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.013em;
    color: #F9B247;
}

.textFooter2 {
    margin-top: 6px;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.contactsBlockFooter {
    margin-top: 13px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.013em;
    color: #FFFFFF;
}

.instaFooter {
    margin-left: 16px;
}

.mail {
    font-family: Montserrat;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFCA0F;
}

.imgFooter {
    margin-top: 10px;
}










/*увелечение фото*/
.minimized {
  cursor: pointer;
  border: 1px solid #FFF;
}

.minimized:hover {
  border: 1px solid #FFAD44;
        overflow: hidden;
}

#magnify {
  display: none;
  position: fixed;
  max-width: 600px;
  height: auto;
  z-index: 9999;
}

#magnify img {
  width: 100%;
}

#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}

#close-popup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}

@keyframes rota {
 25% { transform: rotate(360deg); }
}

#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*увелечение фото*/


.popup-checkbox, .popup {
    display: none;
}

.popup {                                /*фиксирование на промежутке*/                   
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.popup:before {                        /*background*/
    display: block;
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}

.popup-content {                       /*сам екран*/
    width: 100%;
    height: 403px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #4A4A4A;
    border: 2px solid #FFFFFF;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popup-closer {                                       /*кнопка закритые*/
    position: absolute;
    top: 5px;
    right: 5px;
    color: #999;
    font-size: 20px;
    border: 1px solid #999;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup-checkbox:checked + .popup {                  /*когда нажал*/             
    opacity: 1; 
    display: block;
}

.callYouBack {
    margin-top: 30px;
    margin-left: -20px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    line-height: 10px;
    letter-spacing: 0.013em;
    color: #FFFFFF;
}


.popup-content input {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid 1px #ffffff;
    font-family: Montserrat;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.name {
    margin-top: 46px;
}

.quickConsultation {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 25px;
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;	 
    background:transparent !important;
}

.confirmText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.013em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textUnderButton {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #BEBEBE;
}

.popupCheckboxOne {
    display: block;
    width: 100%;
    height: 100%;
}








